.accordion {
  transition: 0.4s;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: large;
  line-height: 2.5rem;
}

.accordion-icon {
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: medium;
}

/* About.css */
.sct-svg-container {
  position: relative;
  width: 100vw; /* Ensure it spans the full viewport width */
  height: auto; /* Adjust based on SVG content */
  overflow: hidden; /* Clip any overflowing content */
  margin: 0;
  padding: 0;
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}

.sct-svg-background {
  width: 100%; /* Ensure it spans the full width of the container */
  height: 100px; /* Adjust based on SVG height */
  background-image: url('./images/layered-waves.svg'); /* Path to SVG */
  background-size: cover; /* Scale the SVG to cover the container */
  background-repeat: no-repeat;
  background-position: bottom center; /* Center the SVG horizontally and position it at the bottom */
}

