header {
  position: relative;
}

.header-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px; /* Adjust based on SVG height */
  background-image: url('./images/layered-peaks.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.navbar-links a {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Use inherited color */
  position: relative; /* Set relative positioning for the pseudo-element */
  display: inline-block; /* Ensure inline-block for the pseudo-element positioning */
}

.navbar-links a::after {
  content: ""; /* Create a pseudo-element for the underline */
  position: absolute; /* Absolute positioning for the underline */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Adjust the height of the underline */
  background: transparent; /* Start with transparent */
  transition: background-color 1s ease; /* Animate background-color instead */
}

.navbar-links a:hover::after {
  background: white; /* Underline color on hover */
  cursor: pointer;
}

.title {
  font-family: "Bebas Neue", sans-serif;
}

.linkedIcon,
.gitIcon,
.scrimbaIcon,
.codepenIcon {
  height: 80px;
  width: 80px;
  color: white;
  transition: transform 0.3s ease;
  padding-left: 1rem;
}

.linkedIcon:hover,
.gitIcon:hover,
.scrimbaIcon:hover,
.codepenIcon:hover {
  transform: scale(1.15);
}
