
.header{
  font-family: "Bebas Neue", sans-serif;
}

.carousel-wrapper {
  overflow: hidden;
  padding-bottom: 1rem;
  cursor:grab;

}

.carousel-container {
  display: flex;
}

.carousel-wrapper:active{
  cursor:grabbing;
}

.carousel-item {
  background-image:url('/images/grid-item-bg.png');
  background-size:cover;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures space between text and icon */
  min-height:15rem;  /* Sets a fixed width for each item */
  flex-shrink: 0;  /* Prevents items from shrinking */
  white-space: normal;
  overflow:hidden;
  margin-right:1rem;
}



.carousel-item h3{
  font-size:1.25rem;
  line-height: 3rem;
  font-weight:600;
  padding-top:0.5rem;
  text-overflow: ellipsis; /* Truncate overflowing text */

}

.carousel-item p{
  padding-top:0.2rem;
  padding-bottom:1rem;
  flex-grow: 1; /* Allows the paragraph to take up the available space */
  text-overflow: ellipsis; /* Truncate overflowing text */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
}

.icon{
  font-size:4rem;
  align-self: flex-end; /* Aligns the icon to the right */
}

.read-more-wrapper {
  display: flex;
  align-items: center; /* Aligns the button and text vertically */
}

.read-more-text {
  margin-left: 0.5rem; /* Adds space between the button and the text */
  font-size: 1rem;
}

.lower-section {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensures the lower section items align vertically */
}

.cptn-item{
  width:20rem;
  height:20rem;
  padding:1rem;
  background-size:cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cptn-item > .upper{
  font-size:xx-large;
  text-align:center;
  font-weight:600;
}

.cptn-item > .lower{
  font-size:medium;
  text-align:center;
  font-weight:500;
}


@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.skill-hr{
  height:0.2rem;
  background-color: rgb(23 23 23);
  border-radius: 5px;
  margin-top:1rem;
  margin-bottom:1rem;
}

.skill-bp{
  display:inline-block;
  margin-right:0.3rem;
  font-weight:600;
  text-transform: uppercase;
}

.skill-list li{
  line-height: 2rem;
}



.skills-svg-container {
  position: relative;
  width: 100%; /* Ensure it spans the full viewport width */
  height: auto; /* Adjust based on SVG content */
  overflow: hidden; /* Clip any overflowing content */
  margin: 0;
  padding: 0;
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}

.skills-svg-background {
  width: 100%; /* Ensure it spans the full width of the container */
  height: 100px; /* Adjust based on SVG height */
  background-image: url('./images/layered-peaks-grey.svg'); /* Path to SVG */
  background-size: cover; /* Scale the SVG to cover the container */
  background-repeat: no-repeat;
  background-position: bottom center; /* Center the SVG horizontally and position it at the bottom */
}
